# Auto detect text files and perform LF normalization
* text=auto
Tank_Mounia/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Tank_Mounia/Library/PackageCache/com.unity.burst@1.8.13/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
